doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description" content="Base content for pharmer")
    meta(keywords="HTML, CSS, XML, Javascript")
    meta(name="author" content="Arikill")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title= title
    link(type="text/css" rel='stylesheet', href='/stylesheets/style.css')
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    script(src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  body
    nav(class="red accent-4")
      div(class="nav-wrapper")
        a(href="#!" class="brand-logo center")= title
        a(href="#!" data-target="mobile" class="sidenav-trigger") M
        ul(class="left hide-on-med-and-down")
          li
            a(href="#!")= user
        ul(class="right hide-on-med-and-down")
          li
            a(href="#!") analysis
          li
            a(href="#!") database
          li
            a(href="#!") logout
    ul(class="sidenav" id="mobile")
      li
        a(href="#!") analysis
      li
        a(href="#!") database
      li
        a(href="#!") logout
    block content
  
  footer
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    script(type="text/javascript" src="/javascripts/base.js")

